<div class="w-[1440px] h-[3799px] relative bg-orange-50 overflow-hidden">
  <div
    class="w-32 h-11 left-[110px] top-[40px] absolute text-center justify-start text-black text-base font-semibold font-['Montserrat']">
    Emprendedores Capachica</div>
  <div
    class="w-20 h-8 left-[607px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
    Servicios</div>
  <div
    class="w-36 h-9 left-[762px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
    Sobre nosotros</div>
  <div
    class="w-24 h-6 left-[980px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
    Contactos</div>
  <div
    class="w-24 h-8 left-[452px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
    Familias</div>
  <img class="w-24 h-24 left-[3px] top-[15px] absolute" src="img/logo.png" />
  <div
    class="w-12 h-8 left-[310px] top-[48px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
    Inicio </div>

  <img class="w-7 h-7 left-[276px] top-[40px] absolute" src="img/home.png" />
  <img class="w-7 h-8 left-[420px] top-[37px] absolute" src="img/familia.png" />
  <div class="w-7 h-7 left-[575px] top-[41px] absolute">
    <img class="w-7 h-7 left-0 top-0 absolute" src="img/servicios.png" />
  </div>
  <img class="w-7 h-7 left-[729px] top-[40px] absolute" src="img/sobrenosotros.png" />
  <img class="w-8 h-6 left-[945px] top-[45px] absolute" src="img/contactos.png" />
  <img class="w-16 h-16 left-[1345px] top-[32px] absolute" src="img/usuario.png" />

  <img class="w-11 h-11 left-[54.74px] top-[326px] absolute origin-top-left rotate-180 opacity-20"
    src="img/usuario.png" />
  <div class="w-[1440px] h-64 left-0 top-[3544px] absolute bg-orange-700"></div>
  <div class="w-[1370px] h-56 left-[20px] top-[3562px] absolute text-center justify-start"><span
      class="text-white text-base font-normal font-['Otomanopee_One'] underline"><br /></span><span
      class="text-white text-base font-normal font-['Otomanopee_One']">Capachica, un paraíso frente al Titicaca
      <br /><br />República del Perú - Comisión de Promoción del Perú para la Exportación y el Turismo<br />¡Capachica
      te espera con los brazos abiertos!<br /></span><span
      class="text-white text-base font-normal font-['Otomanopee_One']">Terminos y condiciones<br />Aviso de
      privacidad</span></div>
  <div
    class="w-28 h-0 left-[408px] top-[79px] absolute origin-top-left rotate-[0.51deg] outline outline-1 outline-offset-[-0.50px] outline-black">
  </div>
  <img class="w-[1440px] h-96 left-0 top-[138px] absolute" src="https://placehold.co/1440x375" />

  <div
    class="w-[898px] h-20 left-[270px] top-[571px] absolute text-center justify-start text-orange-700 text-3xl font-normal font-['Otomanopee_One']">
    Familia Mamani</div>
  <div
    class="w-[513px] h-44 left-[71px] top-[3307px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
    El mejor plato que comí en todo mi viaje fue el cuy chactado que prepararon en la casa de los Apaza. No solo la
    comida, sino las historias de la familia hicieron que nuestra visita fuera especial.”</div>
  <div
    class="w-40 h-6 left-[75px] top-[3274px] absolute text-center justify-start text-black text-sm font-normal font-['Myanmar_Sans_Pro']">
    ⭐ ⭐ ⭐ ⭐ ⭐</div>
  <div
    class="w-24 h-10 left-[182px] top-[3223px] absolute text-center justify-start text-black text-base font-normal font-['Myanmar_Sans_Pro']">
    Argentina</div>
  <div
    class="w-32 h-7 left-[170px] top-[3192px] absolute text-center justify-start text-black text-base font-normal font-['ADLaM_Display']">
    Mario Miguel</div>
  <div
    class="w-32 h-7 left-[923px] top-[3185px] absolute text-center justify-start text-black text-base font-normal font-['ADLaM_Display']">
    Mario Miguel</div>
  <div
    class="w-[588px] h-20 left-[71px] top-[3100px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
    Testimonios de turistas</div>
  <div
    class="w-[588px] h-20 left-[89px] top-[1102px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
    Video</div>
  <div
    class="w-[588px] h-20 left-[68px] top-[1692px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
    Servicios</div>

  <!-- Video de YouTube en formato cuadrado debajo del video -->
  <div class="w-[500px] h-[400px] left-[300px] top-[1200px] absolute">
    <iframe width="900" height="450" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
      allowfullscreen></iframe>
  </div>

  <div class="w-[712px] h-[1447px] left-[100px] top-[1772px] absolute justify-start">
    <span
      class="text-orange-500 text-2xl font-normal font-['Otomanopee_One']">Sección 1: Alojamiento<br /></span>
      <span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">- </span>
      <span
      class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">Descripción: </span>
      <span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Hospedaje circular en Ccotos, construído con
      técnicas tradicionales y materiales locales, proporcionando una experiencia única en medio de la
      naturaleza.<br />- </span><span class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">Servicios
      destacados:<br /></span><span class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Habitación
      individual o familiar<br />Check-in automático<br />Espacios compartidos para actividades recreativas<br />Precios
      y disponibilidad: </span><span class="text-red-600 text-2xl font-normal font-['Myanmar_Sans_Pro']">$50</span>
      <span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> por noche</span>
      <span
      class="text-cyan-600 text-2xl font-normal font-['Myanmar_Sans_Pro']"><br /> [Formulario de reserva
      aquí]<br /></span><span class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"><br />
      </span>
      
      <span
      class="text-orange-500 text-2xl font-normal font-['Otomanopee_One']">Sección 2: Gastronomía<br /></span>
      <span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">- </span><span
      class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">- Descripción: </span>
      <span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Comidas tradicionales preparadas con
      ingredientes locales como quinua, habas, y papa andina.<br />- </span><span
      class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">Platos destacados:<br /></span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Cuy chactado (plato típico)<br />Sopa de
      quinua<br />Pan casero<br />Precios: Menú por </span><span
      class="text-red-600 text-2xl font-normal font-['Myanmar_Sans_Pro']">$15<br /></span><span
      class="text-cyan-600 text-2xl font-normal font-['Myanmar_Sans_Pro']"> [Ver más sobre el menú y
      reservar]<br /></span><span class="text-orange-500 text-2xl font-normal font-['Otomanopee_One']"><br />Sección 3:
      Actividades<br /></span><span class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> </span><span
      class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">Descripción:</span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> Disfruta de paseos en kayak y actividades
      recreativas organizadas por la familia.<br /></span><span
      class="text-orange-700 text-2xl font-normal font-['Myanmar_Sans_Pro']">Actividades destacadas:<br /></span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Paseo en kayak por el Lago
      Titicaca<br />Caminatas guiadas por los alrededores<br />Clases de cocina
      tradicional<br />Precios:<br /></span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">Kayak: </span><span
      class="text-red-600 text-2xl font-normal font-['Myanmar_Sans_Pro']">$20</span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> por persona<br />Caminata guiada: </span><span
      class="text-red-600 text-2xl font-normal font-['Myanmar_Sans_Pro']">$10</span><span
      class="text-black text-2xl font-normal font-['Myanmar_Sans_Pro']"> por persona</span></div>
  
  
  
  <img class="w-96 h-80 left-[878px] top-[1811px] absolute" src="https://placehold.co/405x330" />
  <img class="w-96 h-80 left-[878px] top-[2231px] absolute" src="https://placehold.co/405x330" />
  <img class="w-96 h-80 left-[878px] top-[2651px] absolute" src="https://placehold.co/405x330" />


  <img class="w-16 h-16 left-[83px] top-[3193px] absolute rounded-full" src="https://placehold.co/69x69" />
  <div
    class="w-[513px] h-44 left-[824px] top-[3302px] absolute justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">
    El mejor plato que comí en todo mi viaje fue el cuy chactado que prepararon en la casa de los Apaza. No solo la
    comida, sino las historias de la familia hicieron que nuestra visita fuera especial.”</div>
  <div
    class="w-40 h-6 left-[828px] top-[3269px] absolute text-center justify-start text-black text-sm font-normal font-['Myanmar_Sans_Pro']">
    ⭐ ⭐ ⭐ ⭐ ⭐
  </div>
  <div
    class="w-24 h-10 left-[935px] top-[3218px] absolute text-center justify-start text-black text-base font-normal font-['Myanmar_Sans_Pro']">
    Argentina</div>
  <img class="w-16 h-16 left-[836px] top-[3188px] absolute rounded-full" src="https://placehold.co/69x69" />
  <div
    class="w-[588px] h-20 left-[110px] top-[665px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">
    Fotos</div>
  <img class="w-20 h-20 left-[219.20px] top-[936px] absolute origin-top-left rotate-[179.62deg]"
    src="https://placehold.co/87x77" />
  <img class="w-80 h-60 left-[241px] top-[760px] absolute rounded-[41px]" src="https://placehold.co/325x234" />
  <img class="w-80 h-60 left-[595px] top-[760px] absolute rounded-[41px]" src="https://placehold.co/325x234" />
  <img class="w-80 h-60 left-[949px] top-[760px] absolute rounded-[41px]" src="https://placehold.co/325x234" />
  <img class="w-20 h-20 left-[1321px] top-[838px] absolute" src="" />
  <img class="w-20 h-20 left-[1321px] top-[1953px] absolute" src="https://placehold.co/87x77" />
  <img class="w-20 h-20 left-[1321px] top-[2366px] absolute" src="https://placehold.co/87x77" />
  <img class="w-20 h-20 left-[1321px] top-[2801px] absolute" src="https://placehold.co/87x77" />
  <!-- Botón circular con flecha a la izquierda -->
  <div
    class="w-20 h-20 left-[1321px] top-[2366px] absolute flex items-center justify-center bg-orange-500 rounded-full">
    <div class="flex items-center justify-between w-full">
      <!-- Flecha a la izquierda -->
      <span class="text-white text-2xl">&larr;</span>
      <!-- Centro blanco -->
      <div class="w-6 h-6 bg-white rounded-full"></div>
      <!-- Deja espacio vacío en el otro lado para alinear la flecha a la izquierda -->
    </div>
  </div>

  <!-- Botón circular con flecha a la derecha -->
  <div
    class="w-20 h-20 left-[1321px] top-[2801px] absolute flex items-center justify-center bg-orange-500 rounded-full">
    <div class="flex items-center justify-between w-full">
      <!-- Deja espacio vacío en el otro lado para alinear la flecha a la derecha -->
      <span class="text-white text-2xl">&rarr;</span>
      <!-- Centro blanco -->
      <div class="w-6 h-6 bg-white rounded-full"></div>
    </div>
  </div>

</div>