<div class="w-[1440px] h-[3055px] relative bg-orange-50 overflow-hidden">
  <div
  class="w-32 h-11 left-[110px] top-[40px] absolute text-center justify-start text-black text-base font-semibold font-['Montserrat']">
  Emprendedores Capachica</div>
<div
  class="w-20 h-8 left-[607px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Servicios</div>
<div
  class="w-36 h-9 left-[762px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Sobre nosotros</div>
<div
  class="w-24 h-6 left-[980px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Contactos</div>
<div 
  class="w-24 h-8 left-[452px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Familias</div>
<img class="w-24 h-24 left-[3px] top-[15px] absolute" src="img/logo.png" />
<a href="#home">
<div
  class="w-12 h-8 left-[310px] top-[48px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Inicio </div></a>
  
<img class="w-7 h-7 left-[276px] top-[40px] absolute" src="img/home.png" />
<img class="w-7 h-8 left-[420px] top-[37px] absolute" src="img/familia.png" />
<div class="w-7 h-7 left-[575px] top-[41px] absolute">
  <img class="w-7 h-7 left-0 top-0 absolute" src="img/servicios.png" />
</div>
<img class="w-7 h-7 left-[729px] top-[40px] absolute" src="img/sobrenosotros.png" />
<img class="w-8 h-6 left-[945px] top-[45px] absolute" src="img/contactos.png" />
<img class="w-16 h-16 left-[1345px] top-[32px] absolute" src="img/usuario.png" />

    
    
    <div class="w-[1440px] h-60 left-0 top-[2815px] absolute bg-orange-700"></div>
    <div class="w-[1370px] h-56 left-[20px] top-[2833px] absolute text-center justify-start"><span class="text-white text-base font-normal font-['Otomanopee_One'] underline"><br/></span><span class="text-white text-base font-normal font-['Otomanopee_One']">Capachica, un paraíso frente al Titicaca
    <br/><br/>República del Perú - Comisión de Promoción del Perú para la Exportación y el Turismo<br/>¡Capachica te espera con los brazos abiertos!<br/></span><span class="text-white text-base font-normal font-['Otomanopee_One']">Terminos y condiciones<br/>Aviso de privacidad</span></div>
    <div class="w-28 h-0 left-[408px] top-[79px] absolute origin-top-left rotate-[0.51deg] outline outline-1 outline-offset-[-0.50px] outline-black"></div>
    <div class="w-[898px] h-20 left-[244px] top-[545px] absolute text-center justify-start text-orange-700 text-3xl font-normal font-['Otomanopee_One']">“Conoce a las familias que hacen posible el turismo comunitario en Capachica”.<br/></div>
    <img class="w-[1440px] h-96 left-0 top-[138px] absolute" src="https://placehold.co/1440x375" />
    
    <div class="w-[1261px] h-32 left-[89px] top-[656px] absolute text-center justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']"> Las familias de Capachica, en la región de Puno, Perú, han desarrollado iniciativas de turismo rural comunitario que destacan por su autenticidad y calidez. Estas familias ofrecen servicios como hospedaje en casas tradicionales de adobe, decoradas de manera típica, y alimentación basada en productos locales. Además, los visitantes pueden participar en actividades culturales y cotidianas, como pesca artesanal, elaboración de platos típicos, y talleres de artesanía. También se organizan recorridos por atractivos naturales y arqueológicos, como miradores con vistas al lago Titicaca y sitios ceremoniales ancestrales.</div>
    <div class="w-[929px] h-20 left-[58px] top-[841px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">Familia Mamani de la Comunidad de Ccotos</div>
    <div class="w-[929px] h-20 left-[58px] top-[1453px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">Familia Apaza de la Isla Tikonata</div>
    <div class="w-[929px] h-20 left-[58px] top-[2072px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">Familia Quispe de la Comunidad de Llachón</div>
    <div class="w-[655px] h-[464px] left-[713px] top-[926px] absolute bg-white rounded-tr-[50px] rounded-br-[50px] border border-black"></div>
    <img class="w-[655px] h-[465px] left-[58px] top-[926px] absolute rounded-tl-[50px] rounded-bl-[50px]" src="https://placehold.co/655x465" />
    <div class="w-[567px] h-80 left-[753px] top-[977px] absolute text-center justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">"Visitar a la familia Mamani es sumergirse en la calidez de un hogar tradicional andino donde cada sonrisa te abraza. Su compromiso con la cultura y la naturaleza convierte cada momento en una experiencia inolvidable. Aquí no solo encontrarás hospedaje, sino una familia que comparte con orgullo sus costumbres, sus sabores y sus saberes. Ven y vive el verdadero turismo vivencial, donde la conexión humana y la autenticidad están garantizadas."</div>
    <div class="w-44 h-16 left-[1166px] top-[1324px] absolute text-center justify-start text-cyan-600 text-2xl font-normal font-['Otomanopee_One']">ver mas ...</div>
    <div class="w-[655px] h-[464px] left-[713px] top-[2155px] absolute bg-white rounded-tr-[50px] rounded-br-[50px] border border-black"></div>
    <img class="w-[655px] h-[465px] left-[58px] top-[2155px] absolute rounded-tl-[50px] rounded-bl-[50px]" src="https://placehold.co/655x465" />
    <div class="w-[567px] h-96 left-[773px] top-[2244px] absolute text-center justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">“La familia Quispe ha cultivado una gran pasión por la artesanía textil durante generaciones. Su taller está lleno de hermosos bordados y tejidos a mano que representan los colores y patrones de la región andina. También ofrecen comidas caseras basadas en ingredientes locales y organizan paseos de observación de aves en los alrededores del Lago Titicaca “.</div>
    <div class="w-[655px] h-[464px] left-[713px] top-[1565px] absolute bg-white rounded-tr-[50px] rounded-br-[50px] border border-black"></div>
    <img class="w-[655px] h-[465px] left-[58px] top-[1565px] absolute rounded-tl-[50px] rounded-bl-[50px]" src="https://placehold.co/655x465" />
    <div class="w-[567px] h-96 left-[753px] top-[1644px] absolute text-center justify-start text-black text-2xl font-normal font-['Myanmar_Sans_Pro']">“ La familia Apaza es conocida por su gastronomía auténtica que utiliza ingredientes como la quinua, habas, y papas nativas cultivadas en su propia tierra. Además, han abierto un pequeño museo en su casa con reliquias prehispánicas que han encontrado en la isla, incluidas momias y artefactos. La familia también organiza caminatas guiadas por los senderos de la isla, compartiendo historias y leyendas locales ”.</div>
    <div class="w-44 h-16 left-[1166px] top-[1963px] absolute text-center justify-start text-cyan-600 text-2xl font-normal font-['Otomanopee_One']">ver mas ...</div>
    <div class="w-44 h-16 left-[1166px] top-[2539px] absolute text-center justify-start text-cyan-600 text-2xl font-normal font-['Otomanopee_One']">ver mas ...</div>
  </div>