<div class="w-[1440px] h-[3055px] relative bg-orange-50 overflow-hidden">
    <div
  class="w-32 h-11 left-[110px] top-[40px] absolute text-center justify-start text-black text-base font-semibold font-['Montserrat']">
  Emprendedores Capachica</div>
<div
  class="w-20 h-8 left-[607px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Servicios</div>
<div
  class="w-36 h-9 left-[762px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Sobre nosotros</div>
<div
  class="w-24 h-6 left-[980px] top-[45px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Contactos</div>
<div
  class="w-24 h-8 left-[452px] top-[47px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Familias</div>
<img class="w-24 h-24 left-[3px] top-[15px] absolute" src="img/logo.png" />
<div
  class="w-12 h-8 left-[310px] top-[48px] absolute justify-start text-black text-xl font-normal font-['Myanmar_Sans_Pro']">
  Inicio </div>
  
<img class="w-7 h-7 left-[276px] top-[40px] absolute" src="img/home.png" />
<img class="w-7 h-8 left-[420px] top-[37px] absolute" src="img/familia.png" />
<div class="w-7 h-7 left-[575px] top-[41px] absolute">
  <img class="w-7 h-7 left-0 top-0 absolute" src="img/servicios.png" />
</div>
<img class="w-7 h-7 left-[729px] top-[40px] absolute" src="img/sobrenosotros.png" />
<img class="w-8 h-6 left-[945px] top-[45px] absolute" src="img/contactos.png" />
<img class="w-16 h-16 left-[1345px] top-[32px] absolute" src="img/usuario.png" />


    <div class="w-[1440px] h-60 left-0 top-[2815px] absolute bg-orange-700"></div>
    <div class="w-[1370px] h-56 left-[20px] top-[2833px] absolute text-center justify-start"><span class="text-white text-base font-normal font-['Otomanopee_One'] underline"><br/></span><span class="text-white text-base font-normal font-['Otomanopee_One']">Capachica, un paraíso frente al Titicaca
    <br/><br/>República del Perú - Comisión de Promoción del Perú para la Exportación y el Turismo<br/>¡Capachica te espera con los brazos abiertos!<br/></span><span class="text-white text-base font-normal font-['Otomanopee_One']">Terminos y condiciones<br/>Aviso de privacidad</span></div>
    <div class="w-[779px] h-12 left-[340px] top-[527px] absolute text-center justify-start text-orange-700 text-3xl font-normal font-['Otomanopee_One']">Alojamientos</div>
    <img class="w-[1440px] h-96 left-0 top-[138px] absolute" src="https://placehold.co/1440x375" />
    <div class="w-[929px] h-20 left-[57px] top-[626px] absolute justify-start text-amber-500 text-4xl font-normal font-['Otomanopee_One']">Vive Capachica al mejor precio</div>
    
    <img class="w-96 h-[739px] left-[112px] top-[758px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <img class="w-96 h-[739px] left-[538px] top-[758px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <img class="w-96 h-[739px] left-[964px] top-[767px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <div class="w-64 h-16 left-[146px] top-[778px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">2 DÍAS / 1 NOCHE</div>
    <div class="w-64 h-16 left-[1004px] top-[790px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">2 DIAS Y MEDIO DÍA</div>
    <div class="w-64 h-16 left-[568px] top-[784px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">1 DÍA</div>
    <div class="w-80 h-32 left-[134px] top-[842px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">Amanecer en Llachón</div>
    <div class="w-80 h-44 left-[988px] top-[842px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">Sus encantos d ela Isla Tikonaca</div>
    <div class="w-64 h-60 left-[575px] top-[842px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">La brisa de Chifrón</div>
    <div class="w-44 h-28 left-[322px] top-[1388px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-44 h-28 left-[748px] top-[1388px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-44 h-28 left-[1174px] top-[1397px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-32 h-24 left-[342px] top-[1416px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 100</div>
    <div class="w-32 h-24 left-[773px] top-[1416px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 50</div>
    <div class="w-32 h-24 left-[1194px] top-[1424px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 70</div>
    <img class="w-96 h-[739px] left-[107px] top-[1571px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <img class="w-96 h-[739px] left-[533px] top-[1571px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <img class="w-96 h-[739px] left-[959px] top-[1580px] absolute rounded-[50px]" src="https://placehold.co/382x739" />
    <div class="w-64 h-16 left-[141px] top-[1591px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">2 DÍAS / 1 NOCHE</div>
    <div class="w-64 h-16 left-[999px] top-[1603px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">2 DIAS Y MEDIO DÍA</div>
    <div class="w-64 h-16 left-[563px] top-[1597px] absolute justify-start text-black text-2xl font-normal font-['Otomanopee_One']">1 DÍA</div>
    <div class="w-80 h-32 left-[129px] top-[1655px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">Amanecer en Llachón</div>
    <div class="w-80 h-44 left-[983px] top-[1655px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">Sus encantos d ela Isla Tikonaca</div>
    <div class="w-64 h-60 left-[570px] top-[1655px] absolute justify-start text-white text-4xl font-normal font-['Otomanopee_One']">La brisa de Chifrón</div>
    <div class="w-44 h-28 left-[317px] top-[2201px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-44 h-28 left-[743px] top-[2201px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-44 h-28 left-[1169px] top-[2210px] absolute bg-white rounded-br-[50px] border-r border-b border-black"></div>
    <div class="w-32 h-24 left-[337px] top-[2229px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 100</div>
    <div class="w-32 h-24 left-[768px] top-[2229px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 50</div>
    <div class="w-32 h-24 left-[1189px] top-[2237px] absolute justify-start text-black text-4xl font-normal font-['Otomanopee_One']">S/. 70</div>
    <div class="w-52 h-14 left-[638px] top-[2384px] absolute bg-red-500/75 rounded-[20px]"></div>
    <div class="left-[653px] top-[2400px] absolute justify-start text-black text-2xl font-normal font-['Inter']">RESERVAR  YA</div>
  </div>